

// set colors
$green: #00AE80;
$navy: #1E3241;
$blue: #529BA6;
$kraken: $blue;
$blue-whale: #2378D5;
$sky: #92B4BC;
$orange: #DD481F;
$fulvous: #E87D00;
$off-blue: #8fd3d2;

$arizona: #FBB316;
$colorado: #7A3693;
$idaho: #EE3E37;
$oregon: #41C2D4;
$washington: #3A76BA;
$wyoming: #8C4C3D;

$grey: #c5c5cf;
$grey-light: rgba( $grey, .2 );
$grey-dark: #9d9dac;


// breakpoints
$bp-s: 600px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1150px;
$bp-xxl: 1300px;


@import "reset", "mixins", "fonts", "base";


// vertically align middle divs structure
@mixin flex-content-middle {
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	.inner {
		flex-basis: 100%;
	}
}


// background-container
.container {
	background: white;
	max-width: 1920px;
	margin: 0 auto;

	@include respond-to( 1922px ) {
		border-left: 1px solid $grey-dark;
		border-right: 1px solid $grey-dark;
		box-shadow: 0 0 50px $grey;
	}
}


// general arrow styles for all sections
.arrow-container {
	transition: all 1.5s ease-out;
	width: 40px;
	margin-left: -20px;

	@include respond-to( $bp-s ) { width: 60px; margin-left: -30px; }
	@include respond-to( $bp-m ) { width: 80px; margin-left: -40px; }
	@include respond-to( $bp-xl ) { width: 100px; margin-left: -50px; }
	@include respond-to( $bp-xxl ) { width: 120px; margin-left: -60px; }

	.arrow .arrow-object {
		fill: $orange;
	}
}


.icon-columns {
	@include respond-to( $bp-s - 150px ) {
		display: flex;
		margin-right: -2%;
		flex-wrap: wrap;
		text-align: center;
	}

	@include respond-to( $bp-xl ) {
		margin-right: -3%;
	}

	.icon-column {
		padding: 20px 0;
		transition: all 400ms ease-in-out;
		opacity: 0;

		&.visible {
			opacity: 1;
		}

		@include respond-to( $bp-s - 150px ) {
			flex: 1;
			margin-right: 2%;
			flex-basis: 48%;
		}

		@include respond-to( $bp-m ) {
			flex-basis: 31.3333%;
		}

		@include respond-to( $bp-l ) {
			flex-basis: 18%;
		}

		@include respond-to( $bp-xl ) {
			flex-basis: 17%;
			margin-right: 3%;
		}

		.icon-column-icon {
			padding: 0 0 20px 0;

			svg {
				max-width: 150px;
			}
		}

		h3 {
			@include font-bold;
			font-size: 1.1em;
			padding: 0;
		}

		p {
			padding: 0;
		}
	}
}


// header styles
header {
	overflow: hidden;
	position: relative;
	background: $navy url(../img/bg-waves-green.png) center center no-repeat;
	background-size: cover;
	text-align: center;
	height: 100vh;

	// top border on header
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $green;
	}

	.content {
		height: 80%;
		@include flex-content-middle;
		padding: 25px;

		.logo {
			max-width: 500px;
		}

		h1 {
			color: white;
			text-transform: uppercase;
			padding-top: 0;

			@include respond-to( $bp-m ) {
				font-size: 4.5em;
			}

			@include respond-to( $bp-l ) {
				font-size: 6em;
			}
		}

		h2 {
			@include font-bold;
			color: $green;
			text-transform: uppercase;
			padding-top: 50px;

			@include respond-to( $bp-m ) {
				padding-top: 80px;
			}

			@include respond-to( $bp-l ) {
				font-size: 3.25em;
			}
		}
	}

	.arrow-container {
		position: absolute;
		left: 50%;
		bottom: -10%;
		opacity: 0;

		&.visible {
			bottom: 25%;
			opacity: 1;

			@include respond-to( $bp-m ) {
				bottom: 10%;
			}
		}

		.arrow .arrow-object {
			fill: $orange;
		}
	}

	.header-links {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		@include respond-to( $bp-m ) {
			display: flex;
		}

		a {
			@include font-bold;
			text-transform: uppercase;
			font-size: 1.2em;
			display: block;
			padding: 10px;
			text-align: center;
			color: white;

			&.advocacy { background: $green; }
			&.cooperative { background: $blue; }
			&.community { background: $fulvous; }

			@include respond-to( $bp-m ) {
				flex: 1;
				font-size: 1.4em;
				padding: 15px 10px 10px 10px;
			}
		}
	}
}


// general section styles
section {
	position: relative;
	text-align: center;
	overflow: hidden;

	padding: 50px 20px 120px 20px;
	@include respond-to( $bp-m ) {
		padding: 60px 40px 200px 40px;
	}

	.section-inner {
		max-width: 1500px;
		margin: 0 auto;
	}

	.section-header {
		margin-bottom: 20px;

		&.no-icon {
			margin: 25px 0;
		}

		@include respond-to( $bp-m ) {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: center;
			margin-bottom: 50px;

			&.no-icon {
				margin: 40px 0;
			}

			div {
				flex: 1;
				flex-basis: 75%;
			}
		}

		.icon {
			flex-basis: 25%;

			img {
				max-width: 140px;
			}

			@include respond-to( $bp-m ) {
				text-align: right;
			}
		}

		h2 {
			@include font-bold;
			text-transform: uppercase;
			
			@include respond-to( $bp-m ) {
				text-align: left;
			}
		}
	}

	.arrow-container {
		position: absolute;
		left: 50%;
		bottom: -150px;
		opacity: 0;

		&.visible {
			bottom: 50px;
			opacity: 1;

			@include respond-to( $bp-m ) {
				bottom: 75px;
			}
		}

		.arrow .arrow-object {
			fill: $blue;
		}
	}
}


// federal advocacy
section.advocacy-federal {
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $navy;
	}

	.arrow-container {
		.arrow .arrow-object {
			fill: $navy;
		}
	}
}


// state advocacy
section.advocacy-state {
	text-align: left;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $off-blue;
	}

	.state-boxes {
		@include respond-to( $bp-s ) {
			display: flex;
			margin-right: -3%;
			flex-wrap: wrap;
		}

		.state-box {
			position: relative;
			margin-bottom: 3%;
			border: 3px solid $navy;
			transition: opacity 500ms ease-in-out;
			opacity: 0;

			&.visible {
				opacity: 1;
			}

			@include respond-to( $bp-s ) {
				flex: 1;
				margin-right: 3%;
				flex-basis: 47%;
			}

			@include respond-to( $bp-m ) {
				flex-basis: 30.3333%;
			}

			.state-box-icon {
				
			}

			.state-box-inner {
				padding: 20px 30px 30px;
			}

			h3 {
				@include font-bold;
				font-size: 1.4em;
				padding: 0 0 20px 0;
			}

			p {
				padding: 0;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 30px;
				background-color: $orange;
			}

			&.az {
				background: rgba( $arizona, .075 );
				&:before { background-color: $arizona; }
			}

			&.co {
				background: rgba( $colorado, .075 );
				&:before { background-color: $colorado; }
			}

			&.id {
				background: rgba( $idaho, .075 );
				&:before { background-color: $idaho; }
			}

			&.or {
				background: rgba( $oregon, .075 );
				&:before { background-color: $oregon; }
			}

			&.wa {
				background: rgba( $washington, .075 );
				&:before { background-color: $washington; }
			}

			&.wy {
				background: rgba( $wyoming, .075 );
				&:before { background-color: $wyoming; }
			}
		}
	}

	.arrow-container {
		.arrow .arrow-object {
			fill: $off-blue;
		}
	}
}


// grassroots advocacy
section.advocacy-grassroots {
	background: url(../img/bg-advocacy-grassroots.jpg?v=1) left center no-repeat;
	background-size: cover;
	padding: 20px 20px 200px 20px;

	@include respond-to( $bp-l ) {
		background: url(../img/bg-advocacy-grassroots.jpg?v=1) center center center no-repeat;
		background-size: cover;
		padding: 20px 20px 300px 20px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $green;
	}

	.section-inner {
		max-width: 100%;
		margin: 0;
		padding: 20px;

		.section-content {
			max-width: 450px;

			transition: all 500ms ease-in-out;
			opacity: 0;
			@include respond-to( $bp-l ) { margin-left: 200px; }

			&.visible {
				opacity: 1;
				@include respond-to( $bp-l ) { margin-left: 0; }
			}

			p {
				text-shadow: 0 0 30px rgba( white, 1 );
				text-align: left;
			}	
		}

		@include respond-to( $bp-s ) {
			max-width: 450px;
			padding: 40px;
		}

		@include respond-to( $bp-l ) {
			max-width: 1500px;
			margin: 0 auto;
		}
	}

	.arrow-container {
		position: absolute;
		left: 50%;
		bottom: -150px;
		opacity: 0;

		@include respond-to( $bp-s ) {
			left: 150px;
		}

		@include respond-to( $bp-xxl ) {
			left: 50%;
			margin-left: -600px;
		}

		&.visible {
			bottom: 50px;
			opacity: 1;

			@include respond-to( $bp-s ) {
				left: 150px;
				bottom: 75px;
			}

			@include respond-to( $bp-xxl ) {
				left: 50%;
				margin-left: -600px;
			}
		}

		.arrow .arrow-object {
			fill: $green;
		}
	}
}


// regulatory advocacy
section.advocacy-regulatory {
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $orange;
	}

	.arrow-container {
		.arrow .arrow-object {
			fill: $orange;
		}
	}
}


// cooperative value
section.cooperative {
	background: $navy url(../img/bg-blue-chevron.png) right center no-repeat;
	background-size: cover;
	padding: 20px 20px 200px 20px;
	color: white;

	@include respond-to( $bp-l ) {
		background-size: contain;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $blue;
	}

	.section-inner {
		max-width: 100%;
		margin: 0;
		padding: 20px;

		.section-content {
			max-width: 450px;

			transition: all 500ms ease-in-out;
			opacity: 0;
			@include respond-to( $bp-l ) { margin-left: 200px; }

			&.visible {
				opacity: 1;
				@include respond-to( $bp-l ) { margin-left: 0; }
			}

			p {
				text-align: left;
			}	
		}

		@include respond-to( $bp-s ) {
			max-width: 450px;
			padding: 40px;
		}

		@include respond-to( $bp-l ) {
			max-width: 1500px;
			margin: 0 auto;
		}
	}

	.arrow-container {
		position: absolute;
		left: 50%;
		bottom: -150px;
		opacity: 0;

		@include respond-to( $bp-s ) {
			left: 150px;
		}
		
		@include respond-to( $bp-xxl ) {
			left: 50%;
			margin-left: -600px;
		}

		&.visible {
			bottom: 50px;
			opacity: 1;

			@include respond-to( $bp-s ) {
				left: 150px;
				bottom: 75px;
			}

			@include respond-to( $bp-xxl ) {
				left: 50%;
				margin-left: -600px;
			}
		}

		.arrow .arrow-object {
			fill: $blue;
		}
	}
}


// member engagement value
section.member {
	background: white url(../img/bg-blue-chevron.png) right center no-repeat;
	background-size: cover;

	@include respond-to( $bp-l ) {
		background-size: contain;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $blue;
	}

	.columns {
		@include respond-to( $bp-s - 150px ) {
			display: flex;
			margin-right: -2%;
			flex-wrap: wrap;
			text-align: center;
		}

		.column {
			border: 3px solid $navy;
			margin-bottom: 20px;
			transition: opacity 400ms ease-in-out;
			opacity: 0;

			&.visible {
				opacity: 1;
			}

			@include respond-to( $bp-s - 150px ) {
				flex: 1;
				margin-right: 2%;
				margin-bottom: 2%;
				flex-basis: 48%;
			}

			@include respond-to( $bp-m ) {
				flex-basis: 31.3333%;
			}

			@include respond-to( $bp-l ) {
				flex-basis: 18%;
			}

			@include respond-to( $bp-xl ) {
				flex-basis: 17%;
			}

			h3 {
				@include font-bold;
				font-size: 1.1em;
				padding: 20px;
				background: $navy;
				color: white;
				text-transform: uppercase;
			}

			.column-content {
				background: rgba( white, .7 );
				padding: 10px 20px;
				font-size: .9em;
				line-height: 1.3em;
				text-align: left;
			}
		}
	}

	.arrow-container {
		.arrow .arrow-object {
			fill: $blue;
		}
	}
}


// solutions value
section.solutions {
	background: rgba( $grey, .2 ) url(../img/bg-blue-hatch.png) right center no-repeat;
	background-size: cover;

	padding: 50px 20px 120px 20px;
	@include respond-to( $bp-m ) {
		padding: 60px 40px 0 40px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $blue;
	}

	.solutions-header {
		@include respond-to( $bp-m ) {
			display: flex;
			padding: 30px 0;

			.logo {
				flex: 1;
				flex-basis: 40%;

				img {
					max-width: none;
				}
			}

			.intro {
				flex: 1;
				flex-basis: 40%;
				margin: 0 10%;
				text-align: left;
			}
		}

		.logo {
			img {
				max-width: 450px;
			}

			padding: 20px 0;
		}

		.intro {
			padding: 20px 0;
		}
	}

	.stats {
		@include respond-to( $bp-s - 150px ) {
			display: flex;
			margin-right: -2%;
			flex-wrap: wrap;
			text-align: center;
		}

		.stat {
			background: rgba( white, .8 );
			border: 3px solid $navy;
			padding: 20px;
			margin-bottom: 20px;

			transition: opacity 500ms ease-in-out;
			opacity: 0;

			&.visible {
				opacity: 1;
			}

			h3 {
				@include font-bold;
				font-size: 2em;
				padding: 20px 10px 0;
				color: $navy;
			}

			@include respond-to( $bp-s - 150px ) {
				flex: 1;
				align-items: center;
				justify-content: center;
  				margin-right: 2%;
				margin-bottom: 2%;
				flex-basis: 48%;
			}

			@include respond-to( $bp-l ) {
				flex-basis: 31.3333%;
				display: flex;

				h3 {
					flex: 1;
					flex-basis: 35%;
					padding: 0;
				}

				p {
					flex: 1;
					flex-basis: 62%;
					margin-left: 3%;
					text-align: left;
				}
			}
		}
	}

	.bottom {
		@include respond-to( $bp-m ) {
			background: url(../img/traffic.png) bottom right no-repeat;
			background-size: contain;
			padding: 20px 50% 200px 0;
		}

		@include respond-to( $bp-xxl ) {
			padding: 20px 50% 350px 0;
		}

		h2 {
			@include font-bold;
			text-transform: uppercase;

			@include respond-to( $bp-m ) {
				text-align: left;
			}

			span {
				display: block;
			}
		}
	}

	.arrow-container {
		position: absolute;
		left: 50%;
		bottom: -150px;
		opacity: 0;

		@include respond-to( $bp-s ) {
			left: 150px;
		}
		
		@include respond-to( $bp-xxl ) {
			left: 50%;
			margin-left: -600px;
		}

		&.visible {
			bottom: 50px;
			opacity: 1;

			@include respond-to( $bp-s ) {
				left: 150px;
				bottom: 75px;
			}

			@include respond-to( $bp-xxl ) {
				left: 50%;
				margin-left: -600px;
			}
		}

		.arrow .arrow-object {
			fill: $blue;
		}
	}
}


// community value
section.community {
	background: $navy url(../img/bg-circle-botright.png) right bottom no-repeat;
	background-size: cover;
	padding: 20px 20px 200px 20px;
	color: white;

	@include respond-to( $bp-l ) {
		background-size: contain;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $fulvous;
	}

	.section-inner {
		max-width: 100%;
		margin: 0;
		padding: 20px;

		.section-content {
			max-width: 450px;

			transition: all 500ms ease-in-out;
			opacity: 0;
			@include respond-to( $bp-l ) { margin-left: 200px; }

			&.visible {
				opacity: 1;
				@include respond-to( $bp-l ) { margin-left: 0; }
			}

			p {
				text-align: left;
			}	
		}

		@include respond-to( $bp-s ) {
			max-width: 450px;
			padding: 40px;
		}

		@include respond-to( $bp-l ) {
			max-width: 1500px;
			margin: 0 auto;
		}
	}

	.arrow-container {
		position: absolute;
		left: 50%;
		bottom: -150px;
		opacity: 0;

		@include respond-to( $bp-s ) {
			left: 150px;
		}
		
		@include respond-to( $bp-xxl ) {
			left: 50%;
			margin-left: -600px;
		}

		&.visible {
			bottom: 50px;
			opacity: 1;

			@include respond-to( $bp-s ) {
				left: 150px;
				bottom: 75px;
			}

			@include respond-to( $bp-xxl ) {
				left: 50%;
				margin-left: -600px;
			}
		}

		.arrow .arrow-object {
			fill: $fulvous;
		}
	}
}


// solutions value
section.foundation {
	background: white url(../img/bg-circle-topright.png) top right no-repeat;

	padding: 50px 20px 120px 20px;
	@include respond-to( $bp-m ) {
		padding: 60px 40px 0 40px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $fulvous;
	}

	.foundation-header {
		@include respond-to( $bp-m ) {
			display: flex;
			padding: 30px 0;

			.logo {
				flex: 1;
				flex-basis: 40%;

				img {
					max-width: none;
				}
			}

			.intro {
				flex: 1;
				flex-basis: 40%;
				margin: 0 10%;
				text-align: left;
			}
		}

		.logo {
			img {
				max-width: 450px;
			}

			padding: 20px 0;
		}

		.intro {
			padding: 20px 0;
		}
	}

	.articles {
		@include respond-to( $bp-s ) {
			display: flex;
			margin-right: -4%;
			flex-wrap: wrap;
			text-align: center;
		}

		.article {
			margin-bottom: 20px;
			text-align: left;

			transition: opacity 500ms ease-in-out;
			opacity: 0;

			&.visible {
				opacity: 1;
			}

			@include respond-to( $bp-s ) {
				flex: 1;
				margin-right: 4%;
				margin-bottom: 4%;
				flex-basis: 46%;
			}

			@include respond-to( $bp-l ) {
				flex-basis: 29.3333%;
			}

			img {
				border: 1px solid $navy;
			}

			h3 {
				@include font-bold;
				font-size: 1.2em;
				padding: 10px 0 0;
				color: $navy;
			}

			p {
				padding: 0 0 20px;
			}
		}
	}

	.bottom {
		@include respond-to( $bp-m ) {
			background: url(../img/sunrise.png) bottom right no-repeat;
			background-size: contain;
			padding: 40px 50% 200px 0;
		}

		@include respond-to( $bp-xxl ) {
			padding: 40px 50% 350px 0;
		}

		h2 {
			@include font-bold;
			text-transform: uppercase;

			@include respond-to( $bp-m ) {
				text-align: left;
			}

			span {
				display: block;
			}
		}
	}

	.arrow-container {
		position: absolute;
		left: 50%;
		bottom: -150px;
		opacity: 0;

		@include respond-to( $bp-s ) {
			left: 150px;
		}
		
		@include respond-to( $bp-xxl ) {
			left: 50%;
			margin-left: -600px;
		}

		&.visible {
			bottom: 50px;
			opacity: 1;

			@include respond-to( $bp-s ) {
				left: 150px;
				bottom: 75px;
			}

			@include respond-to( $bp-xxl ) {
				left: 50%;
				margin-left: -600px;
			}
		}

		.arrow .arrow-object {
			fill: $blue;
		}
	}
}


// footer styles
footer {
	position: relative;
	background: $navy url(../img/bg-waves-green.png) center center;
	background-size: cover;
	color: white;
	padding: 50px 20px 30px;
	line-height: 1.5em;

	@include respond-to( $bp-s ) {
		font-size: 1.2em;
	}

	@include respond-to( 1024px ) {
		padding: 90px 40px 60px 40px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 30px;
		background-color: $green;
	}

	.footer-inner {
		max-width: 1500px;
		margin: 0 auto;
	}

	.phone {
		@include font-bold;
		padding-bottom: 20px;

		a {
			color: white;
		}
	}

	.columns {
		@include respond-to( $bp-m ) {
			display: flex;
		}

		.column {
			@include respond-to( $bp-m ) {
				flex: 1;
			}

			.social {
				padding: 10px 0;
				max-width: 350px;
				margin-right: -2%;

				img {
					max-width: 23%;
					margin-right: 2%;
				}
			}
		}
	}

	.small {
		padding-top: 20px;
		font-size: .8em;
	}
}
